[core]
	editor = vim
    pager = "~/pkg/diff-so-fancy/diff-so-fancy | less --tabs=4 -RFX"
    autocrlf = true
[user]
[diff]
	tool = vimdiff
[difftool]
	prompt = false
[alias]
    st = status
    ci = commit
    cim = commit -m
    co = checkout
    br = branch
    l1 = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset)%C(dim white) %an%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(bold yellow)%d%C(reset)' --all
    l2 = log         --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim red)%an%C(reset)%C(bold yellow)%d%C(reset)' --all
	d = difftool
[color]
	ui = true
[merge]
	tool = vimdiff
	conflictstyle = diff3
[mergetool]
	prompt = false
