!URxvt*font:           -misc-fixed-medium-r-semicondensed-*-12-90-100-*-c-60-iso8859-1

!URxvt.font: xft:Noto Sans Mono CJK JP:pixelsize=10:antialias=true:hinting=false
URxvt.font:             xft:DejaVu Sans Mono:size=9:antialias=true
URxvt.*.letterSpace:    -2
Xft.antialias:          true

URxvt.background:       black
URxvt.foreground:       white
URxvt.scrollBar:        false
